@import url(reset.css);
@import url(container.css);
html{

}
body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: rgb(0,131,176);
	background: -moz-linear-gradient(45deg,  rgba(0,131,176,1) 0%, rgba(0,180,219,1) 100%);
	background: -webkit-linear-gradient(45deg,  rgba(0,131,176,1) 0%,rgba(0,180,219,1) 100%);
	background: linear-gradient(45deg,  rgba(0,131,176,1) 0%,rgba(0,180,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0083b0', endColorstr='#00b4db',GradientType=1 );
	background-repeat: no-repeat;
	min-width: 340px;
}
img{display: block;}
a{text-decoration: none;}
body *{
	font-family: 'Roboto', sans-serif;
	color: #fff;
}
.border{
	width: 1px;
	height: 40px;
	background-color: #fff;
}
.logo{width: 50px;}
.burger{display: none;}
header .container{
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}
header a{
	font-size: 17px;
	display: block;
}
header li{margin-right: 20px;}
.header_left{
	display: flex;
	align-items: center;	
}
.header_left .border{margin: 0px 20px;}
.header_left input{
	font-size: 20px;
	background-color: transparent;
	border: 0;
}
.header_left input::-webkit-input-placeholder{color:#fff;font-size: 17px;}
.header_left input::-moz-placeholder{color:#fff;font-size: 17px;}
.header_left input:-moz-placeholder{color:#fff;font-size: 17px;}
.header_left input:-ms-input-placeholder{color:#fff;font-size: 17px;}
ul{
	align-items: center;
	display: flex;
}
.last_nav{
	padding: 15px 40px;
	background-color: #80d8eb;
	border-radius: 100px;
	margin-right: 0px;
}
main{margin: 100px 0px;}
article{
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
main a{
	display: block;
	width: 400px;
	text-align: center;
	padding: 15px 40px;
	background-color: #80d8eb;
	border-radius: 100px;
	margin-top: 20px;
}
main img{
	display: block;
	width: 500px;
	height: auto;
}
footer{padding: 20px 0;}
footer a{
	display: block;
	margin-top: 20px;
}
footer article{align-items: flex-start;}
footer section p{font-weight: bold}
.footer_left{
	display: flex;
	align-items: center;
}
.footer_left .border{margin: 0px 20px;}
.footer_left p{text-transform: uppercase;}
@media screen and (max-width: 1199.5px){
	main img{width: 300px;}
}
@media screen and (max-width: 991.5px){
	.burger{
		transition: 0.3s;
		display: block;
		width: 30px;
		cursor: pointer;
	}
	header{
		padding: 20px;
	}
	.header_left input{
		width: 55px;
	}
	header ul{
		display: none;	
		flex-direction: column;
		align-items: flex-end;
	}
	header li{
		text-align: right;
		margin-right: 0;
		margin-top: 10px;
	}
	nav{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.last_nav{
		padding: 0;
		background-color: transparent;
	}
	ul .border{
		display: none;
	}
	header .container{
		align-items: flex-start;
	}
	article{
		flex-direction: column-reverse;
	}
	.main_img_wrap{
		margin-bottom: 20px;
	}
	main{
		margin: 50px 0;
	}
	.main_links_wrap{
		text-align: center;
		width: 100%;
	}
	main a{width: 100%;}
	footer article{
		align-items: center;
		text-align: center;
		flex-direction: column;
	}
	footer section{margin-top: 40px;}
	.footer_left{
		margin-top: 40px;
		order: 2;
	}
}