{{ define "footer" }}

<footer>
    <article class="container">
        <div class="footer_left">
            <img src="/assets/img/logo.png" alt="" class="logo">
            <div class="border"></div>
            <p>Everland &#169; 2005-2018</p>
        </div>
        <section>
            <p>Профиль</p>
            <a href="#">Войти</a>
            <a href="#">Зарегистрироваться</a>
            <a href="#">Востановить доступ</a>
            <a href="#">Рекомендации фрилансерам</a>
            <a href="#">Рекомендации заказчикам</a>
            <a href="#">Рекомендации наставникам</a>
        </section>
        <section>
            <p>Проект</p>
            <a href="#">Опубликовать проект</a>
        </section>
        <section>
            <p>О сайте</p>
            <a href="#">Помощь</a>
            <a href="#">Правила</a>
            <a href="#">Контакты</a>
        </section>
    </article>
</footer>


{{ end }}