{{ define "main" }}

<!DOCTYPE html>
<html>
<head>
    <title>EL - Заказчику</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="icon" href="/assets/img/lk/nav_icon_1.png" type="images/png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    {{ template "header" }}
    <main>
        <div class="container">
            <div class="main_wrap">
                <p>Миллион исполнителей готовы Вам помочь</p>
                <a href="">Найти исполнителя</a>
            </div>
            <div class="down_btn">
                <img src="/assets/img/down_arrow.svg" alt="">
            </div>
        </div>
    </main>

    <section id="catalog">
        <p>Каталог исполнителей</p>
        <div class="container">
            <div class="catalog_columns" id="catalog_left">
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
            </div>
            <div class="catalog_columns" id="catalog_center">
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
            </div>
            <div class="catalog_columns" id="catalog_right">
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
                <p>LOL</p>
            </div>
        </div>
    </section>

    <section id="choose">
        <p>Каталог исполнителей</p>
        <div class="container">
            <div class="choose_columns" id="choose_left">
                <img src="/assets/img/setting.png" alt="">
                <p>Опубликовать проект и найти специалиста</p>
                <a href="">Стать лолом</a>
            </div>
            <div class="choose_columns" id="choose_center">
                <img src="/assets/img/setting.png" alt="">
                <p>Опубликовать проект и найти специалиста</p>
                <a href="">Стать лолом</a>
            </div>
            <div class="choose_columns" id="choose_right">
                <img src="/assets/img/setting.png" alt="">
                <p>Опубликовать проект и найти специалиста</p>
                <a href="">Стать лолом</a>
            </div>
        </div>
    </section>

    <section id="mentors">
        <p>Everland помогает людям уже 2 года</p>
        <div class="container helpers_box">
            <div id="mentor_left">
                <div class="mentor_left_header">
                    <img src="/assets/img/photo.png" alt="">
                    <div>
                        <p class="mentor_name">Наталья Антонова <br><span>Съела воробья</span></p>
                        <p>Обучила 23 исполнителя</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam maxime, sint blanditiis maiores placeat atque! Aperiam obcaecati explicabo excepturi. Tempora sit, odit qui repellat atque. Sunt ea tenetur quibusdam. Fugiat voluptatum, voluptates qui, saepe debitis possimus perferendis aliquid vero consequuntur quos autem est laudantium odit quas quisquam quaerat adipisci, harum necessitatibus beatae quidem minus dolorem labore ratione? Molestiae voluptates error quas ea dicta minus modi. Deserunt provident similique nam nemo quaerat nulla, harum minus, a optio sapiente nisi doloribus repellendus eaque accusamus laborum libero repellat, commodi earum praesentium. Hic laborum alias modi quo a mollitia sint cumque dicta perspiciatis ullam!</p>
            </div>
            <div id="mentor_right">
                <div>
                    <img src="/assets/img/photo.png" alt="">
                    <div>
                        <p class="mentor_name">Наталья Антонова <br><span>Съела воробья</span></p>
                        <p>Обучила 23 исполнителя</p>
                    </div>
                </div>
                <div>
                    <img src="/assets/img/photo.png" alt="">
                    <div>
                        <p class="mentor_name">Наталья Антонова <br><span>Съела воробья</span></p>
                        <p>Обучила 23 исполнителя</p>
                    </div>
                </div>
                <div class="break_mentor"></div>
                <div>
                    <img src="/assets/img/photo.png" alt="">
                    <div>
                        <p class="mentor_name">Наталья Антонова <br><span>Съела воробья</span></p>
                        <p>Обучила 23 исполнителя</p>
                    </div>
                </div>
                <div>
                    <img src="/assets/img/photo.png" alt="">
                    <div>
                        <p class="mentor_name">Наталья Антонова <br><span>Съела воробья</span></p>
                        <p>Обучила 23 исполнителя</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ template "footer"}}
    <script>
        jQuery(document).ready(function($) {
            $('.burger').click(function() {
                $('header ul').slideToggle();
            });
        });
    </script>
</body>
</html>
{{ end }}