@import url(reset.css);
@import url(static.css);
@import url(container.css);
body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 340px;
	background: #f6f8f8;
}
header,footer{
	background: rgb(0,131,176);
	background: -moz-linear-gradient(45deg,  rgba(0,131,176,1) 0%, rgba(0,180,219,1) 100%);
	background: -webkit-linear-gradient(45deg,  rgba(0,131,176,1) 0%,rgba(0,180,219,1) 100%);
	background: linear-gradient(45deg,  rgba(0,131,176,1) 0%,rgba(0,180,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0083b0', endColorstr='#00b4db',GradientType=1 );
	background-repeat: no-repeat;
}
header{ padding: 0 20px }
img{display: block;}
a{text-decoration: none;}
body *{
	font-family: 'Roboto', sans-serif;
	color: #fff;
}
main{margin: 50px 0;}
article{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* ГЛАВНАЯ */
.write_box{
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background: #fff;
}
#navigation {
	float: left;
	position: relative;
	z-index: 90;
}
#navigation li {
	padding: 11px;
	margin-bottom: 30px;
	cursor: pointer;
}
.content_box{ position: relative }
#all_content{
	padding: 0 0 0 100px;
}
#all_content p{ color: #323232 }
.line_block{
	width: 100%;
	float: left;
	margin-top: 25px;
}
.name_page{
	width: 100%;
	padding: 15px;
	font-size: 18px;
}
.name_section{
	padding-left: 15px;
}
.info_section{
	margin-top: 20px;
}
.info_box{
	width: 23%;
	margin-right: 2%;
	padding: 11px;
	float: left;
}
.last_block{
	width: 25%;
	margin-right: 0;
}
.big_last_block{
	width: 50%;
	margin-right: 0;
}
.info_box h5{
	color: #00a3c7;
	margin-bottom: 5px;
}
.wrap_chats{
	margin-top: 20px;
	display: flex;
}
.chat_columns_head{
	display: flex;
	justify-content: space-between;
}
.chat_columns_head p{
	margin-bottom: 20px;	
}
.video_column{
	width: 55%;
	margin-right: 20px;
}
.message_column{
	width: 45%;
}
button img{
	background-image: url(../img/lk/send_btn.png);
	z-index: 3;
	width: 30px;
	height: 30px;
}
/* ОБУЧЕНИЕ */


/* END */
@media screen and (max-width: 992px){
	article{
		flex-direction: column-reverse;
	}
	.main_img_wrap{
		margin-bottom: 20px;
	}
	main{ margin: 50px 0 }
	.main_links_wrap{
		text-align: center;
		width: 100%;
	}
	main a{width: 100%;}
}

@media screen and (max-width: 767px) {
	.info_box{
		width: 100%;
		margin-bottom: 10px;
	}
}
